# Ignore everything
*

# Except for:
#   directories (so that Git will recurse)
!*/

#   source files
!src/**/*.h
!src/**/*.cpp
!test/*.h
!test/*.cpp
!examples/*.h
!examples/*.cpp

#   other useful things
!.gitignore
!CMakeLists.txt
!README.md
!.clang-format
!.pre-commit-config.yaml

# DO ignore CMake-generated content
_deps/
CMakeFiles/
